/* General form styling */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    padding: 10px 5px;
    margin-left: 24px;
    width: 86%;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  select:focus {
    border-color: #4CAF50;
  }
  
  button[type="submit"] {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  button[type="submit"]:active {
    background-color: #388e3c;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  /* Error and success message styling */
  .error-message,
  .success-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .success-message {
    color: green;
  }
  

  /* Partner List styling */
.partner-list {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .partner-list h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .partner-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .partner-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
  }
  
  .partner-list li:last-child {
    border-bottom: none;
  }
  
  .partner-list button {
    padding: 8px 15px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .partner-list button:hover {
    background-color: #e53935;
  }
  
  .partner-list button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(234, 67, 53, 0.7);
  }
  